@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/less")" rel="stylesheet"/>
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/js")
    @RenderSection("script", required: false)
</body>
</html>
